.brand {
    background-color: #000;
    height: 1407px;

    .brand-content {
        max-width: 1200px;
        color: $text-white;
        text-align: center;

        h2,
        h3 {
            font-style: italic;
        }

        .brand-img {
            display: flex;
            justify-content: space-between;
        }
    }

}