.header {
    background-image: url(../images/banner.png);
    width: 100%;
    height: 960px;
    display: flex;
    align-items: center;

    .header-content {
        max-width: 315px;
        color: $text-white;
        font-style: italic;

        .header-icon {
            display: flex;
            justify-content: space-between;
        }
    }
}